$icomoon-font-path: "fonts" !default;

$icon-bull-weight-7-path1: "\e901";
$icon-bull-weight-7-path2: "\e902";
$icon-bull-weight-7-path3: "\e903";
$icon-bull-weight-7-path4: "\e904";
$icon-bull-weight-7-path5: "\e905";
$icon-bull-weight-7-path6: "\e906";
$icon-bull-weight-7-path7: "\e907";
$icon-bull-weight-7-path8: "\e908";
$icon-bull-weight-7-path9: "\e909";
$icon-bull-weight-7-path10: "\e90a";
$icon-bull-weight-7-path11: "\e90b";
$icon-bull-weight-7-path12: "\e90c";
$icon-bull-weight-7-path13: "\e90d";
$icon-bull-weight-7-path14: "\e90e";
$icon-bull-weight-7-path15: "\e90f";
$icon-bull-weight-7-path16: "\e910";
$icon-bull-weight-7-path17: "\eb53";
$icon-bull-head-path1: "\e911";
$icon-bull-head-path2: "\e912";
$icon-bull-weight-1-path1: "\e913";
$icon-bull-weight-1-path2: "\e914";
$icon-bull-weight-1-path3: "\e915";
$icon-bull-weight-1-path4: "\e916";
$icon-bull-weight-1-path5: "\e917";
$icon-bull-weight-1-path6: "\e918";
$icon-bull-weight-1-path7: "\e919";
$icon-bull-weight-1-path8: "\e91a";
$icon-bull-weight-1-path9: "\e91b";
$icon-bull-weight-1-path10: "\e91c";
$icon-bull-weight-1-path11: "\e91d";
$icon-bull-weight-1-path12: "\e91e";
$icon-bull-weight-1-path13: "\e91f";
$icon-bull-weight-1-path14: "\e920";
$icon-bull-weight-1-path15: "\e921";
$icon-bull-weight-1-path16: "\e922";
$icon-bull-weight-1-path17: "\e923";
$icon-bull-weight-1-path18: "\e924";
$icon-bull-weight-1-path19: "\e925";
$icon-bull-weight-1-path20: "\e926";
$icon-bull-weight-1-path21: "\e927";
$icon-bull-weight-1-path22: "\e928";
$icon-bull-weight-1-path23: "\e929";
$icon-bull-weight-1-path24: "\e92a";
$icon-bull-weight-1-path25: "\e92b";
$icon-bull-weight-1-path26: "\e92c";
$icon-bull-weight-1-path27: "\e92d";
$icon-bull-weight-1-path28: "\e92e";
$icon-bull-weight-1-path29: "\e92f";
$icon-bull-weight-1-path30: "\e930";
$icon-bull-weight-1-path31: "\e931";
$icon-bull-weight-1-path32: "\e932";
$icon-bull-weight-1-path33: "\e933";
$icon-bull-weight-1-path34: "\e934";
$icon-bull-weight-1-path35: "\e935";
$icon-bull-weight-1-path36: "\e936";
$icon-bull-weight-1-path37: "\e937";
$icon-bull-weight-1-path38: "\e938";
$icon-bull-weight-1-path39: "\e939";
$icon-bull-weight-1-path40: "\e93a";
$icon-bull-weight-1-path41: "\e93b";
$icon-bull-weight-1-path42: "\e93c";
$icon-bull-weight-1-path43: "\e93d";
$icon-bull-weight-1-path44: "\e93e";
$icon-bull-weight-1-path45: "\e93f";
$icon-bull-weight-1-path46: "\e940";
$icon-bull-weight-1-path47: "\e941";
$icon-bull-weight-1-path48: "\e942";
$icon-bull-weight-1-path49: "\e943";
$icon-bull-weight-1-path50: "\e944";
$icon-bull-weight-1-path51: "\e945";
$icon-bull-weight-1-path52: "\e946";
$icon-bull-weight-1-path53: "\e947";
$icon-bull-weight-1-path54: "\e948";
$icon-bull-weight-1-path55: "\e949";
$icon-bull-weight-1-path56: "\e94a";
$icon-bull-weight-1-path57: "\e94b";
$icon-bull-weight-1-path58: "\e94c";
$icon-bull-weight-1-path59: "\e94d";
$icon-bull-weight-1-path60: "\e94e";
$icon-bull-weight-1-path61: "\e94f";
$icon-bull-weight-1-path62: "\e950";
$icon-bull-weight-1-path63: "\e951";
$icon-bull-weight-1-path64: "\e952";
$icon-bull-weight-1-path65: "\e953";
$icon-bull-weight-1-path66: "\e954";
$icon-bull-weight-1-path67: "\e955";
$icon-bull-weight-1-path68: "\e956";
$icon-bull-weight-1-path69: "\e957";
$icon-bull-weight-1-path70: "\e958";
$icon-bull-weight-1-path71: "\e959";
$icon-bull-weight-1-path72: "\e95a";
$icon-bull-weight-1-path73: "\e95b";
$icon-bull-weight-1-path74: "\e95c";
$icon-bull-weight-1-path75: "\e95d";
$icon-bull-weight-1-path76: "\e95e";
$icon-bull-weight-1-path77: "\e95f";
$icon-bull-weight-1-path78: "\e960";
$icon-bull-weight-1-path79: "\e961";
$icon-bull-weight-1-path80: "\e962";
$icon-bull-weight-1-path81: "\e963";
$icon-bull-weight-1-path82: "\e964";
$icon-bull-weight-1-path83: "\e965";
$icon-bull-weight-1-path84: "\e966";
$icon-bull-weight-1-path85: "\e967";
$icon-bull-weight-1-path86: "\e968";
$icon-bull-weight-1-path87: "\e969";
$icon-bull-weight-1-path88: "\e96a";
$icon-bull-weight-1-path89: "\e96b";
$icon-bull-weight-1-path90: "\e96c";
$icon-bull-weight-1-path91: "\e96d";
$icon-bull-weight-1-path92: "\e96e";
$icon-bull-weight-1-path93: "\e96f";
$icon-bull-weight-1-path94: "\e970";
$icon-bull-weight-1-path95: "\e971";
$icon-bull-weight-1-path96: "\e972";
$icon-bull-weight-1-path97: "\e973";
$icon-bull-weight-1-path98: "\e974";
$icon-bull-weight-1-path99: "\e975";
$icon-bull-weight-1-path100: "\e976";
$icon-bull-weight-1-path101: "\e977";
$icon-bull-weight-1-path102: "\e978";
$icon-bull-weight-1-path103: "\e979";
$icon-bull-weight-1-path104: "\e97a";
$icon-bull-weight-1-path105: "\e97b";
$icon-bull-weight-1-path106: "\e97c";
$icon-bull-weight-1-path107: "\e97d";
$icon-bull-weight-1-path108: "\e97e";
$icon-bull-weight-1-path109: "\e97f";
$icon-bull-weight-1-path110: "\e980";
$icon-bull-weight-1-path111: "\e981";
$icon-bull-weight-1-path112: "\e982";
$icon-bull-weight-1-path113: "\e983";
$icon-bull-weight-1-path114: "\e984";
$icon-bull-weight-1-path115: "\e985";
$icon-bull-weight-1-path116: "\e986";
$icon-bull-weight-1-path117: "\e987";
$icon-bull-weight-1-path118: "\e988";
$icon-bull-weight-1-path119: "\e989";
$icon-bull-weight-1-path120: "\e98a";
$icon-bull-weight-1-path121: "\e98b";
$icon-bull-weight-1-path122: "\e98c";
$icon-bull-weight-1-path123: "\e98d";
$icon-bull-weight-1-path124: "\e98e";
$icon-bull-weight-1-path125: "\e98f";
$icon-bull-weight-1-path126: "\e990";
$icon-bull-weight-1-path127: "\e991";
$icon-bull-weight-1-path128: "\e992";
$icon-bull-weight-1-path129: "\e993";
$icon-bull-weight-1-path130: "\e994";
$icon-bull-weight-1-path131: "\e995";
$icon-bull-weight-1-path132: "\e996";
$icon-bull-weight-1-path133: "\e997";
$icon-bull-weight-1-path134: "\e998";
$icon-bull-weight-1-path135: "\e999";
$icon-bull-weight-1-path136: "\e99a";
$icon-bull-weight-1-path137: "\e99b";
$icon-bull-weight-1-path138: "\e99c";
$icon-bull-weight-1-path139: "\e99d";
$icon-bull-weight-1-path140: "\e99e";
$icon-bull-weight-1-path141: "\e99f";
$icon-bull-weight-1-path142: "\e9a0";
$icon-bull-weight-1-path143: "\e9a1";
$icon-bull-weight-2-path1: "\e9a2";
$icon-bull-weight-2-path2: "\e9a3";
$icon-bull-weight-2-path3: "\e9a4";
$icon-bull-weight-2-path4: "\e9a5";
$icon-bull-weight-2-path5: "\e9a6";
$icon-bull-weight-2-path6: "\e9a7";
$icon-bull-weight-2-path7: "\e9a8";
$icon-bull-weight-2-path8: "\e9a9";
$icon-bull-weight-2-path9: "\e9aa";
$icon-bull-weight-2-path10: "\e9ab";
$icon-bull-weight-2-path11: "\e9ac";
$icon-bull-weight-2-path12: "\e9ad";
$icon-bull-weight-2-path13: "\e9ae";
$icon-bull-weight-2-path14: "\e9af";
$icon-bull-weight-2-path15: "\e9b0";
$icon-bull-weight-2-path16: "\e9b1";
$icon-bull-weight-2-path17: "\e9b2";
$icon-bull-weight-2-path18: "\e9b3";
$icon-bull-weight-2-path19: "\e9b4";
$icon-bull-weight-2-path20: "\e9b5";
$icon-bull-weight-2-path21: "\e9b6";
$icon-bull-weight-2-path22: "\e9b7";
$icon-bull-weight-2-path23: "\e9b8";
$icon-bull-weight-2-path24: "\e9b9";
$icon-bull-weight-2-path25: "\e9ba";
$icon-bull-weight-2-path26: "\e9bb";
$icon-bull-weight-2-path27: "\e9bc";
$icon-bull-weight-2-path28: "\e9bd";
$icon-bull-weight-2-path29: "\e9be";
$icon-bull-weight-2-path30: "\e9bf";
$icon-bull-weight-2-path31: "\e9c0";
$icon-bull-weight-2-path32: "\e9c1";
$icon-bull-weight-2-path33: "\e9c2";
$icon-bull-weight-2-path34: "\e9c3";
$icon-bull-weight-2-path35: "\e9c4";
$icon-bull-weight-2-path36: "\e9c5";
$icon-bull-weight-2-path37: "\e9c6";
$icon-bull-weight-2-path38: "\e9c7";
$icon-bull-weight-2-path39: "\e9c8";
$icon-bull-weight-2-path40: "\e9c9";
$icon-bull-weight-2-path41: "\e9ca";
$icon-bull-weight-2-path42: "\e9cb";
$icon-bull-weight-2-path43: "\e9cc";
$icon-bull-weight-2-path44: "\e9cd";
$icon-bull-weight-2-path45: "\e9ce";
$icon-bull-weight-2-path46: "\e9cf";
$icon-bull-weight-2-path47: "\e9d0";
$icon-bull-weight-2-path48: "\e9d1";
$icon-bull-weight-2-path49: "\e9d2";
$icon-bull-weight-2-path50: "\e9d3";
$icon-bull-weight-2-path51: "\e9d4";
$icon-bull-weight-2-path52: "\e9d5";
$icon-bull-weight-2-path53: "\e9d6";
$icon-bull-weight-2-path54: "\e9d7";
$icon-bull-weight-2-path55: "\e9d8";
$icon-bull-weight-2-path56: "\e9d9";
$icon-bull-weight-2-path57: "\e9da";
$icon-bull-weight-2-path58: "\e9db";
$icon-bull-weight-2-path59: "\e9dc";
$icon-bull-weight-2-path60: "\e9dd";
$icon-bull-weight-2-path61: "\e9de";
$icon-bull-weight-2-path62: "\e9df";
$icon-bull-weight-2-path63: "\e9e0";
$icon-bull-weight-2-path64: "\e9e1";
$icon-bull-weight-2-path65: "\e9e2";
$icon-bull-weight-2-path66: "\e9e3";
$icon-bull-weight-2-path67: "\e9e4";
$icon-bull-weight-2-path68: "\e9e5";
$icon-bull-weight-2-path69: "\e9e6";
$icon-bull-weight-2-path70: "\e9e7";
$icon-bull-weight-2-path71: "\e9e8";
$icon-bull-weight-2-path72: "\e9e9";
$icon-bull-weight-2-path73: "\e9ea";
$icon-bull-weight-2-path74: "\e9eb";
$icon-bull-weight-2-path75: "\e9ec";
$icon-bull-weight-2-path76: "\e9ed";
$icon-bull-weight-2-path77: "\e9ee";
$icon-bull-weight-2-path78: "\e9ef";
$icon-bull-weight-2-path79: "\e9f0";
$icon-bull-weight-2-path80: "\e9f1";
$icon-bull-weight-2-path81: "\e9f2";
$icon-bull-weight-2-path82: "\e9f3";
$icon-bull-weight-2-path83: "\e9f4";
$icon-bull-weight-2-path84: "\e9f5";
$icon-bull-weight-2-path85: "\e9f6";
$icon-bull-weight-2-path86: "\e9f7";
$icon-bull-weight-2-path87: "\e9f8";
$icon-bull-weight-2-path88: "\e9f9";
$icon-bull-weight-2-path89: "\e9fa";
$icon-bull-weight-2-path90: "\e9fb";
$icon-bull-weight-2-path91: "\e9fc";
$icon-bull-weight-2-path92: "\e9fd";
$icon-bull-weight-2-path93: "\e9fe";
$icon-bull-weight-2-path94: "\e9ff";
$icon-bull-weight-2-path95: "\ea00";
$icon-bull-weight-2-path96: "\ea01";
$icon-bull-weight-2-path97: "\ea02";
$icon-bull-weight-2-path98: "\ea03";
$icon-bull-weight-2-path99: "\ea04";
$icon-bull-weight-2-path100: "\ea05";
$icon-bull-weight-2-path101: "\ea06";
$icon-bull-weight-2-path102: "\ea07";
$icon-bull-weight-2-path103: "\ea08";
$icon-bull-weight-2-path104: "\ea09";
$icon-bull-weight-2-path105: "\ea0a";
$icon-bull-weight-2-path106: "\ea0b";
$icon-bull-weight-2-path107: "\ea0c";
$icon-bull-weight-2-path108: "\ea0d";
$icon-bull-weight-2-path109: "\ea0e";
$icon-bull-weight-2-path110: "\ea0f";
$icon-bull-weight-2-path111: "\ea10";
$icon-bull-weight-2-path112: "\ea11";
$icon-bull-weight-2-path113: "\ea12";
$icon-bull-weight-2-path114: "\ea13";
$icon-bull-weight-2-path115: "\ea14";
$icon-bull-weight-2-path116: "\ea15";
$icon-bull-weight-2-path117: "\ea16";
$icon-bull-weight-2-path118: "\ea17";
$icon-bull-weight-2-path119: "\ea18";
$icon-bull-weight-2-path120: "\ea19";
$icon-bull-weight-3-path1: "\ea1a";
$icon-bull-weight-3-path2: "\ea1b";
$icon-bull-weight-3-path3: "\ea1c";
$icon-bull-weight-3-path4: "\ea1d";
$icon-bull-weight-3-path5: "\ea1e";
$icon-bull-weight-3-path6: "\ea1f";
$icon-bull-weight-3-path7: "\ea20";
$icon-bull-weight-3-path8: "\ea21";
$icon-bull-weight-3-path9: "\ea22";
$icon-bull-weight-3-path10: "\ea23";
$icon-bull-weight-3-path11: "\ea24";
$icon-bull-weight-3-path12: "\ea25";
$icon-bull-weight-3-path13: "\ea26";
$icon-bull-weight-3-path14: "\ea27";
$icon-bull-weight-3-path15: "\ea28";
$icon-bull-weight-3-path16: "\ea29";
$icon-bull-weight-3-path17: "\ea2a";
$icon-bull-weight-3-path18: "\ea2b";
$icon-bull-weight-3-path19: "\ea2c";
$icon-bull-weight-3-path20: "\ea2d";
$icon-bull-weight-3-path21: "\ea2e";
$icon-bull-weight-3-path22: "\ea2f";
$icon-bull-weight-3-path23: "\ea30";
$icon-bull-weight-3-path24: "\ea31";
$icon-bull-weight-3-path25: "\ea32";
$icon-bull-weight-3-path26: "\ea33";
$icon-bull-weight-3-path27: "\ea34";
$icon-bull-weight-3-path28: "\ea35";
$icon-bull-weight-3-path29: "\ea36";
$icon-bull-weight-3-path30: "\ea37";
$icon-bull-weight-3-path31: "\ea38";
$icon-bull-weight-3-path32: "\ea39";
$icon-bull-weight-3-path33: "\ea3a";
$icon-bull-weight-3-path34: "\ea3b";
$icon-bull-weight-3-path35: "\ea3c";
$icon-bull-weight-3-path36: "\ea3d";
$icon-bull-weight-3-path37: "\ea3e";
$icon-bull-weight-3-path38: "\ea3f";
$icon-bull-weight-3-path39: "\ea40";
$icon-bull-weight-3-path40: "\ea41";
$icon-bull-weight-3-path41: "\ea42";
$icon-bull-weight-3-path42: "\ea43";
$icon-bull-weight-3-path43: "\ea44";
$icon-bull-weight-3-path44: "\ea45";
$icon-bull-weight-3-path45: "\ea46";
$icon-bull-weight-3-path46: "\ea47";
$icon-bull-weight-3-path47: "\ea48";
$icon-bull-weight-3-path48: "\ea49";
$icon-bull-weight-3-path49: "\ea4a";
$icon-bull-weight-3-path50: "\ea4b";
$icon-bull-weight-3-path51: "\ea4c";
$icon-bull-weight-3-path52: "\ea4d";
$icon-bull-weight-3-path53: "\ea4e";
$icon-bull-weight-3-path54: "\ea4f";
$icon-bull-weight-3-path55: "\ea50";
$icon-bull-weight-3-path56: "\ea51";
$icon-bull-weight-3-path57: "\ea52";
$icon-bull-weight-3-path58: "\ea53";
$icon-bull-weight-3-path59: "\ea54";
$icon-bull-weight-3-path60: "\ea55";
$icon-bull-weight-3-path61: "\ea56";
$icon-bull-weight-3-path62: "\ea57";
$icon-bull-weight-3-path63: "\ea58";
$icon-bull-weight-3-path64: "\ea59";
$icon-bull-weight-3-path65: "\ea5a";
$icon-bull-weight-3-path66: "\ea5b";
$icon-bull-weight-3-path67: "\ea5c";
$icon-bull-weight-3-path68: "\ea5d";
$icon-bull-weight-3-path69: "\ea5e";
$icon-bull-weight-3-path70: "\ea5f";
$icon-bull-weight-3-path71: "\ea60";
$icon-bull-weight-3-path72: "\ea61";
$icon-bull-weight-3-path73: "\ea62";
$icon-bull-weight-3-path74: "\ea63";
$icon-bull-weight-3-path75: "\ea64";
$icon-bull-weight-3-path76: "\ea65";
$icon-bull-weight-3-path77: "\ea66";
$icon-bull-weight-3-path78: "\ea67";
$icon-bull-weight-3-path79: "\ea68";
$icon-bull-weight-3-path80: "\ea69";
$icon-bull-weight-3-path81: "\ea6a";
$icon-bull-weight-3-path82: "\ea6b";
$icon-bull-weight-3-path83: "\ea6c";
$icon-bull-weight-3-path84: "\ea6d";
$icon-bull-weight-3-path85: "\ea6e";
$icon-bull-weight-3-path86: "\ea6f";
$icon-bull-weight-3-path87: "\ea70";
$icon-bull-weight-3-path88: "\ea71";
$icon-bull-weight-3-path89: "\ea72";
$icon-bull-weight-3-path90: "\ea73";
$icon-bull-weight-3-path91: "\ea74";
$icon-bull-weight-3-path92: "\ea75";
$icon-bull-weight-3-path93: "\ea76";
$icon-bull-weight-3-path94: "\ea77";
$icon-bull-weight-3-path95: "\ea78";
$icon-bull-weight-3-path96: "\ea79";
$icon-bull-weight-3-path97: "\ea7a";
$icon-bull-weight-3-path98: "\ea7b";
$icon-bull-weight-3-path99: "\ea7c";
$icon-bull-weight-3-path100: "\ea7d";
$icon-bull-weight-3-path101: "\ea7e";
$icon-bull-weight-3-path102: "\ea7f";
$icon-bull-weight-3-path103: "\ea80";
$icon-bull-weight-3-path104: "\ea81";
$icon-bull-weight-3-path105: "\ea82";
$icon-bull-weight-3-path106: "\ea83";
$icon-bull-weight-3-path107: "\ea84";
$icon-bull-weight-3-path108: "\ea85";
$icon-bull-weight-3-path109: "\ea86";
$icon-bull-weight-3-path110: "\ea87";
$icon-bull-weight-3-path111: "\ea88";
$icon-bull-weight-3-path112: "\ea89";
$icon-bull-weight-3-path113: "\ea8a";
$icon-bull-weight-3-path114: "\ea8b";
$icon-bull-weight-3-path115: "\ea8c";
$icon-bull-weight-3-path116: "\ea8d";
$icon-bull-weight-3-path117: "\ea8e";
$icon-bull-weight-3-path118: "\ea8f";
$icon-bull-weight-3-path119: "\ea90";
$icon-bull-weight-3-path120: "\ea91";
$icon-bull-weight-3-path121: "\ea92";
$icon-bull-weight-3-path122: "\ea93";
$icon-bull-weight-3-path123: "\ea94";
$icon-bull-weight-3-path124: "\ea95";
$icon-bull-weight-3-path125: "\ea96";
$icon-bull-weight-3-path126: "\ea97";
$icon-bull-weight-3-path127: "\ea98";
$icon-bull-weight-3-path128: "\ea99";
$icon-bull-weight-3-path129: "\ea9a";
$icon-bull-weight-3-path130: "\ea9b";
$icon-bull-weight-3-path131: "\ea9c";
$icon-bull-weight-3-path132: "\ea9d";
$icon-bull-weight-3-path133: "\ea9e";
$icon-bull-weight-3-path134: "\ea9f";
$icon-bull-weight-3-path135: "\eaa0";
$icon-bull-weight-3-path136: "\eaa1";
$icon-bull-weight-3-path137: "\eaa2";
$icon-bull-weight-3-path138: "\eaa3";
$icon-bull-weight-3-path139: "\eaa4";
$icon-bull-weight-3-path140: "\eaa5";
$icon-bull-weight-3-path141: "\eaa6";
$icon-bull-weight-3-path142: "\eaa7";
$icon-bull-weight-3-path143: "\eaa8";
$icon-bull-weight-3-path144: "\eaa9";
$icon-bull-weight-3-path145: "\eaaa";
$icon-bull-weight-3-path146: "\eaab";
$icon-bull-weight-3-path147: "\eaac";
$icon-bull-weight-3-path148: "\eaad";
$icon-bull-weight-3-path149: "\eaae";
$icon-bull-weight-3-path150: "\eaaf";
$icon-bull-weight-3-path151: "\eab0";
$icon-bull-weight-3-path152: "\eab1";
$icon-bull-weight-3-path153: "\eab2";
$icon-bull-weight-3-path154: "\eab3";
$icon-bull-weight-3-path155: "\eab4";
$icon-bull-weight-3-path156: "\eab5";
$icon-bull-weight-3-path157: "\eab6";
$icon-bull-weight-3-path158: "\eab7";
$icon-bull-weight-3-path159: "\eab8";
$icon-bull-weight-3-path160: "\eab9";
$icon-bull-weight-3-path161: "\eaba";
$icon-bull-weight-3-path162: "\eabb";
$icon-bull-weight-3-path163: "\eabc";
$icon-bull-weight-3-path164: "\eabd";
$icon-bull-weight-3-path165: "\eabe";
$icon-bull-weight-3-path166: "\eabf";
$icon-bull-weight-3-path167: "\eac0";
$icon-bull-weight-3-path168: "\eac1";
$icon-bull-weight-3-path169: "\eac2";
$icon-bull-weight-3-path170: "\eac3";
$icon-bull-weight-3-path171: "\eac4";
$icon-bull-weight-3-path172: "\eac5";
$icon-bull-weight-3-path173: "\eac6";
$icon-bull-weight-3-path174: "\eac7";
$icon-bull-weight-3-path175: "\eac8";
$icon-bull-weight-3-path176: "\eac9";
$icon-bull-weight-3-path177: "\eaca";
$icon-bull-weight-3-path178: "\eacb";
$icon-bull-weight-3-path179: "\eacc";
$icon-bull-weight-3-path180: "\eacd";
$icon-bull-weight-3-path181: "\eace";
$icon-bull-weight-3-path182: "\eacf";
$icon-bull-weight-5-path1: "\ead0";
$icon-bull-weight-5-path2: "\ead1";
$icon-bull-weight-5-path3: "\ead2";
$icon-bull-weight-5-path4: "\ead3";
$icon-bull-weight-5-path5: "\ead4";
$icon-bull-weight-5-path6: "\ead5";
$icon-bull-weight-5-path7: "\ead6";
$icon-bull-weight-5-path8: "\ead7";
$icon-bull-weight-5-path9: "\ead8";
$icon-bull-weight-5-path10: "\ead9";
$icon-bull-weight-5-path11: "\eada";
$icon-bull-weight-5-path12: "\eadb";
$icon-bull-weight-5-path13: "\eadc";
$icon-bull-weight-5-path14: "\eadd";
$icon-bull-weight-5-path15: "\eade";
$icon-bull-weight-5-path16: "\eadf";
$icon-bull-weight-5-path17: "\eae0";
$icon-bull-weight-5-path18: "\eae1";
$icon-bull-weight-5-path19: "\eae2";
$icon-bull-weight-5-path20: "\eae3";
$icon-bull-weight-5-path21: "\eae4";
$icon-bull-weight-5-path22: "\eae5";
$icon-bull-weight-5-path23: "\eae6";
$icon-bull-weight-5-path24: "\eae7";
$icon-bull-weight-5-path25: "\eae8";
$icon-bull-weight-5-path26: "\eae9";
$icon-bull-weight-5-path27: "\eaea";
$icon-bull-weight-5-path28: "\eaeb";
$icon-bull-weight-5-path29: "\eaec";
$icon-bull-weight-5-path30: "\eaed";
$icon-bull-weight-5-path31: "\eaee";
$icon-bull-weight-5-path32: "\eaef";
$icon-bull-weight-5-path33: "\eaf0";
$icon-bull-weight-5-path34: "\eaf1";
$icon-bull-weight-5-path35: "\eaf2";
$icon-bull-weight-5-path36: "\eaf3";
$icon-bull-weight-5-path37: "\eaf4";
$icon-bull-weight-5-path38: "\eaf5";
$icon-bull-weight-5-path39: "\eaf6";
$icon-bull-weight-5-path40: "\eaf7";
$icon-bull-weight-5-path41: "\eaf8";
$icon-bull-weight-5-path42: "\eaf9";
$icon-bull-weight-5-path43: "\eafa";
$icon-bull-weight-5-path44: "\eafb";
$icon-bull-weight-5-path45: "\eafc";
$icon-bull-weight-5-path46: "\eafd";
$icon-bull-weight-5-path47: "\eafe";
$icon-bull-weight-5-path48: "\eaff";
$icon-bull-weight-5-path49: "\eb00";
$icon-bull-weight-5-path50: "\eb01";
$icon-bull-weight-5-path51: "\eb02";
$icon-bull-weight-5-path52: "\eb03";
$icon-bull-weight-5-path53: "\eb04";
$icon-bull-weight-5-path54: "\eb05";
$icon-bull-weight-5-path55: "\eb06";
$icon-bull-weight-5-path56: "\eb07";
$icon-bull-weight-5-path57: "\eb08";
$icon-bull-weight-5-path58: "\eb09";
$icon-bull-weight-5-path59: "\eb0a";
$icon-bull-weight-5-path60: "\eb0b";
$icon-bull-weight-5-path61: "\eb0c";
$icon-bull-weight-5-path62: "\eb0d";
$icon-bull-weight-5-path63: "\eb0e";
$icon-bull-weight-5-path64: "\eb0f";
$icon-bull-weight-5-path65: "\eb10";
$icon-bull-weight-5-path66: "\eb11";
$icon-bull-weight-5-path67: "\eb12";
$icon-bull-weight-5-path68: "\eb13";
$icon-bull-weight-5-path69: "\eb14";
$icon-bull-weight-5-path70: "\eb15";
$icon-bull-weight-5-path71: "\eb16";
$icon-bull-weight-5-path72: "\eb17";
$icon-bull-weight-5-path73: "\eb18";
$icon-bull-weight-5-path74: "\eb19";
$icon-bull-weight-5-path75: "\eb1a";
$icon-bull-weight-5-path76: "\eb1b";
$icon-bull-weight-5-path77: "\eb1c";
$icon-bull-weight-5-path78: "\eb1d";
$icon-bull-weight-5-path79: "\eb1e";
$icon-bull-weight-5-path80: "\eb1f";
$icon-bull-weight-5-path81: "\eb20";
$icon-bull-weight-5-path82: "\eb21";
$icon-bull-weight-5-path83: "\eb22";
$icon-bull-weight-5-path84: "\eb23";
$icon-bull-weight-5-path85: "\eb24";
$icon-bull-weight-5-path86: "\eb25";
$icon-bull-weight-5-path87: "\eb26";
$icon-bull-weight-5-path88: "\eb27";
$icon-bull-weight-5-path89: "\eb28";
$icon-bull-weight-5-path90: "\eb29";
$icon-bull-weight-5-path91: "\eb2a";
$icon-bull-weight-5-path92: "\eb2b";
$icon-bull-weight-5-path93: "\eb2c";
$icon-bull-weight-5-path94: "\eb2d";
$icon-bull-weight-5-path95: "\eb2e";
$icon-bull-weight-5-path96: "\eb2f";
$icon-bull-weight-5-path97: "\eb30";
$icon-bull-weight-5-path98: "\eb31";
$icon-bull-weight-5-path99: "\eb32";
$icon-bull-weight-5-path100: "\eb33";
$icon-bull-weight-5-path101: "\eb34";
$icon-bull-weight-5-path102: "\eb35";
$icon-bull-weight-5-path103: "\eb36";
$icon-bull-weight-5-path104: "\eb37";
$icon-bull-weight-5-path105: "\eb38";
$icon-bull-weight-5-path106: "\eb39";
$icon-bull-weight-5-path107: "\eb3a";
$icon-bull-weight-5-path108: "\eb3b";
$icon-bull-weight-5-path109: "\eb3c";
$icon-bull-weight-5-path110: "\eb3d";
$icon-bull-weight-5-path111: "\eb3e";
$icon-bull-weight-5-path112: "\eb3f";
$icon-bull-weight-5-path113: "\eb40";
$icon-bull-weight-5-path114: "\eb41";
$icon-bull-weight-5-path115: "\eb42";
$icon-bull-weight-5-path116: "\eb43";
$icon-bull-weight-5-path117: "\eb44";
$icon-bull-weight-5-path118: "\eb45";
$icon-bull-weight-5-path119: "\eb46";
$icon-bull-weight-5-path120: "\eb47";
$icon-bull-weight-5-path121: "\eb48";
$icon-bull-weight-5-path122: "\eb49";
$icon-bull-weight-5-path123: "\eb4a";
$icon-bull-weight-5-path124: "\eb4b";
$icon-bull-weight-5-path125: "\eb4c";
$icon-bull-weight-5-path126: "\eb4d";
$icon-bull-weight-5-path127: "\eb4e";
$icon-bull-weight-5-path128: "\eb4f";
$icon-bull-weight-5-path129: "\eb50";
$icon-bull-weight-5-path130: "\eb51";
$icon-bull-weight-5-path131: "\eb52";
$icon-bull-2-path1: "\ebd2";
$icon-bull-2-path2: "\ebd3";
$icon-bull-2-path3: "\ebd4";
$icon-bull-2-path4: "\ebd5";
$icon-bull-2-path5: "\ebd6";
$icon-bull-2-path6: "\ebd7";
$icon-bull-2-path7: "\ebd8";
$icon-bull-2-path8: "\ebd9";
$icon-bull-2-path9: "\ebda";
$icon-bull-2-path10: "\ebdb";
$icon-bull-2-path11: "\ebdc";
$icon-bull-2-path12: "\ebdd";
$icon-bull-2-path13: "\ebde";
$icon-bull-2-path14: "\ebdf";
$icon-bull-2-path15: "\ebe0";
$icon-bull-2-path16: "\ebe1";
$icon-bull-2-path17: "\ebe2";
$icon-bull-2-path18: "\ebe3";
$icon-bull-2-path19: "\ebe4";
$icon-bull-2-path20: "\ebe5";
$icon-bull-2-path21: "\ebe6";
$icon-bull-2-path22: "\ebe7";
$icon-bull-2-path23: "\ebe8";
$icon-bull-2-path24: "\ebe9";
$icon-bull-2-path25: "\ebea";
$icon-bull-2-path26: "\ebeb";
$icon-bull-2-path27: "\ebec";
$icon-bull-2-path28: "\ebed";
$icon-bull-2-path29: "\ebee";
$icon-bull-2-path30: "\ebef";
$icon-bull-2-path31: "\ebf0";
$icon-bull-2-path32: "\ebf1";
$icon-bull-2-path33: "\ebf2";
$icon-bull-2-path34: "\ebf3";
$icon-bull-2-path35: "\ebf4";
$icon-bull-2-path36: "\ebf5";
$icon-bull-2-path37: "\ebf6";
$icon-bull-2-path38: "\ebf7";
$icon-bull-2-path39: "\ebf8";
$icon-bull-weight-12-path1: "\ebf9";
$icon-bull-weight-12-path2: "\ebfa";
$icon-bull-weight-12-path3: "\ebfb";
$icon-bull-weight-12-path4: "\ebfc";
$icon-bull-weight-12-path5: "\ebfd";
$icon-bull-weight-12-path6: "\ebfe";
$icon-bull-weight-12-path7: "\ebff";
$icon-bull-weight-12-path8: "\ec00";
$icon-bull-weight-12-path9: "\ec01";
$icon-bull-weight-12-path10: "\ec02";
$icon-bull-weight-12-path11: "\ec03";
$icon-bull-weight-12-path12: "\ec04";
$icon-bull-weight-12-path13: "\ec05";
$icon-bull-weight-12-path14: "\ec06";
$icon-bull-weight-12-path15: "\ec07";
$icon-bull-weight-12-path16: "\ec08";
$icon-bull-weight-12-path17: "\ec09";
$icon-bull-weight-12-path18: "\ec0a";
$icon-bull-weight-12-path19: "\ec0b";
$icon-bull-weight-12-path20: "\ec0c";
$icon-bull-weight-12-path21: "\ec0d";
$icon-bull-weight-12-path22: "\ec0e";
$icon-bull-weight-12-path23: "\ec0f";
$icon-bull-weight-12-path24: "\ec10";
$icon-bull-weight-12-path25: "\ec11";
$icon-bull-weight-12-path26: "\ec12";
$icon-bull-weight-12-path27: "\ec13";
$icon-bull-weight-12-path28: "\ec14";
$icon-bull-weight-12-path29: "\ec15";
$icon-bull-weight-12-path30: "\ec16";
$icon-bull-weight-12-path31: "\ec17";
$icon-bull-weight-12-path32: "\ec18";
$icon-bull-weight-12-path33: "\ec19";
$icon-bull-weight-12-path34: "\ec1a";
$icon-bull-weight-12-path35: "\ec1b";
$icon-bull-weight-12-path36: "\ec1c";
$icon-bull-weight-12-path37: "\ec1d";
$icon-bull-weight-12-path38: "\ec1e";
$icon-bull-weight-12-path39: "\ec1f";
$icon-bull-weight-12-path40: "\ec20";
$icon-bull-weight-12-path41: "\ec21";
$icon-bull-weight-12-path42: "\ec22";
$icon-bull-weight-12-path43: "\ec23";
$icon-bull-weight-12-path44: "\ec24";
$icon-bull-weight-12-path45: "\ec25";
$icon-bull-weight-12-path46: "\ec26";
$icon-bull-weight-12-path47: "\ec27";
$icon-bull-weight-12-path48: "\ec28";
$icon-bull-weight-12-path49: "\ec29";
$icon-bull-weight-12-path50: "\ec2a";
$icon-bull-weight-12-path51: "\ec2b";
$icon-bull-weight-12-path52: "\ec2c";
$icon-bull-weight-12-path53: "\ec2d";
$icon-bull-weight-12-path54: "\ec2e";
$icon-bull-weight-12-path55: "\ec2f";
$icon-bull-weight-12-path56: "\ec30";
$icon-bull-weight-12-path57: "\ec31";
$icon-bull-weight-12-path58: "\ec32";
$icon-bull-weight-12-path59: "\ec33";
$icon-bull-weight-12-path60: "\ec34";
$icon-bull-weight-12-path61: "\ec35";
$icon-bull-weight-12-path62: "\ec36";
$icon-bull-weight-12-path63: "\ec37";
$icon-bull-weight-12-path64: "\ec38";
$icon-bull-weight-12-path65: "\ec39";
$icon-bull-weight-12-path66: "\ec3a";
$icon-bull-weight-12-path67: "\ec3b";
$icon-bull-weight-12-path68: "\ec3c";
$icon-bull-weight-12-path69: "\ec3d";
$icon-bull-weight-12-path70: "\ec3e";
$icon-bull-weight-12-path71: "\ec3f";
$icon-bull-weight-12-path72: "\ec40";
$icon-bull-weight-12-path73: "\ec41";
$icon-bull-weight-12-path74: "\ec42";
$icon-bull-weight-12-path75: "\ec43";
$icon-bull-weight-12-path76: "\ec44";
$icon-bull-weight-12-path77: "\ec45";
$icon-bull-weight-12-path78: "\ec46";
$icon-bull-weight-12-path79: "\ec47";
$icon-bull-weight-12-path80: "\ec48";
$icon-bull-weight-12-path81: "\ec49";
$icon-bull-weight-12-path82: "\ec4a";
$icon-bull-weight-12-path83: "\ec4b";
$icon-bull-weight-12-path84: "\ec4c";
$icon-bull-weight-12-path85: "\ec4d";
$icon-bull-weight-12-path86: "\ec4e";
$icon-bull-weight-12-path87: "\ec4f";
$icon-bull-weight-12-path88: "\ec50";
$icon-bull-weight-12-path89: "\ec51";
$icon-bull-weight-12-path90: "\ec52";
$icon-bull-weight-12-path91: "\ec53";
$icon-bull-weight-12-path92: "\ec54";
$icon-bull-weight-12-path93: "\ec55";
$icon-bull-weight-12-path94: "\ec56";
$icon-bull-weight-12-path95: "\ec57";
$icon-bull-weight-12-path96: "\ec58";
$icon-bull-weight-12-path97: "\ec59";
$icon-bull-weight-12-path98: "\ec5a";
$icon-bull-weight-12-path99: "\ec5b";
$icon-bull-weight-12-path100: "\ec5c";
$icon-bull-weight-12-path101: "\ec5d";
$icon-bull-weight-12-path102: "\ec5e";
$icon-bull-weight-12-path103: "\ec5f";
$icon-bull-weight-12-path104: "\ec60";
$icon-bull-weight-12-path105: "\ec61";
$icon-bull-weight-12-path106: "\ec62";
$icon-bull-weight-12-path107: "\ec63";
$icon-bull-weight-12-path108: "\ec64";
$icon-bull-weight-12-path109: "\ec65";
$icon-bull-weight-12-path110: "\ec66";
$icon-bull-weight-12-path111: "\ec67";
$icon-bull-weight-12-path112: "\ec68";
$icon-bull-weight-12-path113: "\ec69";
$icon-bull-weight-12-path114: "\ec6a";
$icon-bull-weight-12-path115: "\ec6b";
$icon-bull-weight-12-path116: "\ec6c";
$icon-bull-weight-12-path117: "\ec6d";
$icon-bull-weight-12-path118: "\ec6e";
$icon-bull-weight-12-path119: "\ec6f";
$icon-bull-weight-12-path120: "\ec70";
$icon-bull-weight-12-path121: "\ec71";
$icon-bull-weight-12-path122: "\ec72";
$icon-bull-weight-12-path123: "\ec73";
$icon-bull-weight-12-path124: "\ec74";
$icon-bull-weight-12-path125: "\ec75";
$icon-bull-weight-12-path126: "\ec76";
$icon-bull-weight-12-path127: "\ec77";
$icon-bull-weight-12-path128: "\ec78";
$icon-bull-weight-12-path129: "\ec79";
$icon-bull-weight-12-path130: "\ec7a";
$icon-bull-weight-12-path131: "\ec7b";
$icon-bull-weight-12-path132: "\ec7c";
$icon-bull-weight-12-path133: "\ec7d";
$icon-bull-weight-12-path134: "\ec7e";
$icon-bull-weight-12-path135: "\ec7f";
$icon-bull-weight-12-path136: "\ec80";
$icon-bull-weight-12-path137: "\ec81";
$icon-bull-weight-12-path138: "\ec82";
$icon-bull-weight-12-path139: "\ec83";
$icon-bull-weight-12-path140: "\ec84";
$icon-bull-weight-12-path141: "\ec85";
$icon-bull-weight-12-path142: "\ec86";
$icon-bull-weight-12-path143: "\ec87";
$icon-bull: "\e900";

