.demo-page {
    width: 100%;
}

.selectors {
    position: absolute;
}

.card-container {
    position: relative;
    margin-left: 300px;
    margin-bottom: 33%;
}

.selector-label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

@media screen and (max-width: 940px) {
    .selectors {
        position: relative;
    }

    .card-container {
        margin: 0;
    }
}