@mixin var($property, $varName) {
  #{$property}: map-get($vars, $varName);
  #{$property}: var(--#{$varName}, map-get($vars, $varName));
}

$vars: (
        face-value-font-size: 12em,

        weight-1-light: rgba(40, 155, 206, 1.0),
        weight-1-medium: rgba(36, 67, 94, 1.0),
        weight-1-dark: rgba(25, 52, 82, 1.0),

        weight-2-light: rgba(227, 161, 14, 1.0),
        weight-2-medium: rgba(159, 82, 9, 1.0),
        weight-2-dark: rgba(105, 48, 0, 1.0),

        weight-3-light: rgba(40, 155, 206, 1.0),
        weight-3-medium: rgba(36, 67, 94, 1.0),
        weight-3-dark: rgba(25, 52, 82, 1.0),

        weight-5-light: rgba(227, 161, 14, 1.0),
        weight-5-medium: rgba(159, 82, 9, 1.0),
        weight-5-dark: rgba(105, 48, 0, 1.0),

        weight-7-light: rgba(207, 98, 69, 1.0),
        weight-7-medium: rgba(196, 25, 31, 1.0),
        weight-7-dark: rgba(158, 32, 36, 1.0),

        //card background colors by weight
        background-color-1: radial-gradient(rgba(255, 255, 255, 1), rgba(36, 67, 94, 1)),
        background-color-2: radial-gradient(rgba(255, 255, 255, 1), rgba(159, 82, 9, 1)),
        background-color-3: radial-gradient(rgba(255, 255, 255, 1), rgba(36, 67, 94, 1)),
        background-color-5: radial-gradient(rgba(255, 255, 255, 1), rgba(159, 82, 9, 1)),
        background-color-7: radial-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 1)),

        face-value-color-weight-1: rgba(40, 155, 206, 1.0),
        face-value-color-weight-2: rgba(218, 148, 17, 1.0),
        face-value-color-weight-3: rgba(25, 52, 82, 1.0),
        face-value-color-weight-5: rgba(159, 82, 9, 1.0),
        face-value-color-weight-7: rgba(196, 25, 31, 1.0)
);

@keyframes Gradient {
  0% {
    background-position: 0% 0%
  }
  10% {
    background-position: 99% 0%
  }
  20% {
    background-position: 99% 99%
  }
  30% {
    background-position: 0% 99%
  }
  40% {
    background-position: 0% 0%
  }
  60% {
    background-position: 0% 99%
  }
  70% {
    background-position: 99% 99%
  }
  80% {
    background-position: 99% 0%
  }
  100% {
    background-position: 0% 0%
  }
}

.card {
  //@include var(height, card-height);
  //@include var(width, card-width);

  font-size:10px;

  width: 100%;
  min-width: 200px;
  padding-top: 142%;

  border: 0.5em solid white;

  position: relative;
  margin: auto;

  background-clip: border-box;

  @include var(background-image, background-color-1);
  background-size: 200% 200%;
  background-position: 0 0;
  animation: Gradient 20s ease infinite;

  border-radius: 10px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.3s;

  //padding: 50px 20px;

  .header, .footer {
    position: absolute;
    width: 100%;
    left: 0px;
    padding: 10px 0px;
    text-align: center;

    .face-value-left, .face-value-right {
      @include var(color, face-value-color-weight-1);

      font-size: 3.5em;
      font-weight: bold;
      text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
      //text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.7);
      padding: 0 10px;
    }

    .face-value-left {
      float: left;
    }

    .face-value-right {
      float: right;
    }

    .score-zone {
      position: absolute;
      top: 5px;
      width: 100%;

      .icon-bull {
        @include var(color, face-value-color-weight-1);
        font-size: 2.5em;
        padding: 0 4px;
      }
    }
  }

  .header {
    top: 0px;
  }

  .footer {
    bottom: 0px;
    transform: rotate(180deg);
  }

  .center-bull-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;

    //    margin: auto;
    margin-top: 60px;

    z-index: 1;

    transition: width 0.3s, left 0.3s, margin-top 0.3s;
  }

  .face-value {
    //@include var(font-size, face-value-font-size);
    font-size: 9em;
    @include var(color, face-value-color-weight-1);

    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 30px;
    right: 0;

    margin: auto;

    font-family: Elephant;
    text-align: center;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

    transition: font-size 0.3s, text-shadow 0.3s;
  }

  &:hover {
    box-shadow: 11px 11px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .center-bull-icon {
      z-index: 3;
      width: 120%;
      left: -10%;
      margin-top: 10px;
    }
  }

  &::after {
    @include var(width, card-width);
    @include var(height, card-height);

    content:'';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 30px;

    background-image: url(./assets/images/bull-background@64px.png);
    background-clip: content-box;
    background-repeat: round space;

    opacity: 0.2;
  }

  &.weight-2 {
    @include var(background-image, background-color-2);

    .icon-bull {
      @include var(color, face-value-color-weight-2);
    }

    .face-value {
      @include var(color, face-value-color-weight-2);
    }

    .header, .footer {
      .face-value-left, .face-value-right {
        @include var(color, face-value-color-weight-2);
      }

      .score-zone {
        .icon-bull {
          @include var(color, face-value-color-weight-2);
        }
      }
    }
  }

  &.weight-3 {
    @include var(background-image, background-color-3);

    .icon-bull {
      @include var(color, face-value-color-weight-3);
    }

    .face-value {
      @include var(color, face-value-color-weight-3);
    }

    .header, .footer {
      .face-value-left, .face-value-right {
        @include var(color, face-value-color-weight-3);
      }

      .score-zone {
        .icon-bull {
          @include var(color, face-value-color-weight-3);
        }
      }
    }
  }

  &.weight-5 {
    @include var(background-image, background-color-5);

    .icon-bull {
      @include var(color, face-value-color-weight-5);
    }

    .face-value {
      @include var(color, face-value-color-weight-5);
    }

    .header, .footer {
      .face-value-left, .face-value-right {
        @include var(color, face-value-color-weight-5);
      }

      .score-zone {
        .icon-bull {
          @include var(color, face-value-color-weight-5);
        }
      }
    }
  }

  &.weight-7 {
    @include var(background-image, background-color-7);

    .face-value {
      @include var(color, face-value-color-weight-7);
    }

    .header, .footer {
      .face-value-left, .face-value-right {
        @include var(color, face-value-color-weight-7);
      }

      .score-zone {
        .icon-bull {
          @include var(color, face-value-color-weight-7);
          font-size: 1.5em;
        }
      }
    }
  }
}

